<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">了解我们</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;专业认证毕业要求达成分析系统</h3>
        随着教育全球化脚步的推进，各高校为提升教学质量，增强国际影响力，纷纷进行专业认证工作。本文从毕业要求出发，以评价学生个体毕业要求达成度为核心，建立专业认证毕业要求达成度分析系统。
        本系统整体上将学生毕业要求和指标点关联，局部上将学生课程细分项与指标点关联，根据学生毕业时各指标点的完成情况，判断学生是否达到毕业要求，避免仅通过学生各科目及格与否来判断学生毕业要求，将毕业评价过程流程化细节化，推动教学过程向专业化国际化迈进。

        <h3>&nbsp;&nbsp;&nbsp;</h3>
        <h3>&nbsp;&nbsp;&nbsp;</h3>
        <h3>&nbsp;&nbsp;&nbsp;</h3>
        <h3>&nbsp;&nbsp;&nbsp;</h3>
        <h3>&nbsp;&nbsp;&nbsp;</h3>
        <h3>&nbsp;&nbsp;&nbsp;</h3>
        <h3>&nbsp;&nbsp;&nbsp;</h3>
        <h3>&nbsp;&nbsp;&nbsp;</h3>
        <h3>&nbsp;&nbsp;&nbsp;</h3>



    </div>
</div>
</body>
<script src="js/jquery.min.js"></script>
<script src="js/openTab.js"></script>
</html>