<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.assess.dao.StudenassessDao">

	<select id="get" resultType="com.bootdo.assess.domain.StudenassessDO">
		select `id`,`student_id`,`score_pro_id`,`score` from t_student_assess where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.assess.domain.StudenassessDO">
		select `id`,`student_id`,`score_pro_id`,`score` from t_student_assess
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="studentId != null and studentId != ''"> and student_id = #{studentId} </if>
		  		  <if test="scoreProId != null and scoreProId != ''"> and score_pro_id = #{scoreProId} </if>
		  		  <if test="score != null and score != ''"> and score = #{score} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_student_assess
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="studentId != null and studentId != ''"> and student_id = #{studentId} </if>
		  		  <if test="scoreProId != null and scoreProId != ''"> and score_pro_id = #{scoreProId} </if>
		  		  <if test="score != null and score != ''"> and score = #{score} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.assess.domain.StudenassessDO" useGeneratedKeys="true" keyProperty="id">
		insert into t_student_assess
		(
			`student_id`, 
			`score_pro_id`, 
			`score`
		)
		values
		(
			#{studentId}, 
			#{scoreProId}, 
			#{score}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.assess.domain.StudenassessDO">
		update t_student_assess 
		<set>
			<if test="studentId != null">`student_id` = #{studentId}, </if>
			<if test="scoreProId != null">`score_pro_id` = #{scoreProId}, </if>
			<if test="score != null">`score` = #{score}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_student_assess where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_student_assess where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>